NodeRed/PoolMaster NodeRed.json
[{"id":"f7322e79.2b9fa8","type":"tab","label":"PoolMaster6 Dashboard","disabled":false,"info":""},{"id":"3bab82e3.c52656","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Filtration Pump","tooltip":"This will manually turn the Filtration Pump ON or OFF","group":"79a3101b.272f5","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool6/API","style":"","onvalue":"{\"FiltPump\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"FiltPump\":0}","offvalueType":"json","officon":"","offcolor":"","x":2640,"y":840,"wires":[["35a9a235.c0a546"]]},{"id":"afa4cbed.a565b8","type":"function","z":"f7322e79.2b9fa8","name":"Slider input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"PhSetPoint\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2660,"y":460,"wires":[["35a9a235.c0a546"]]},{"id":"e0cb9ca4.4f0b5","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"pH+ Pump","tooltip":"This will manually turn the pHPump ON or OFF","group":"79a3101b.272f5","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"PhPump\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"PhPump\":0}","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":900,"wires":[["35a9a235.c0a546"]]},{"id":"39a2392c.9aab76","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Chl Pump","tooltip":"This will manually turn the Chl Pump ON or OFF","group":"79a3101b.272f5","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"ChlPump\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"ChlPump\":0}","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":960,"wires":[["35a9a235.c0a546"]]},{"id":"bfa0513.c5dfc3","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Projecteur","tooltip":"This will manually turn Relay1 ON or OFF","group":"79a3101b.272f5","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"Relay\":[0,1]} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"Relay\":[0,0]} ","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":1260,"wires":[["35a9a235.c0a546"]]},{"id":"27e23112.ddcd7e","type":"ui_slider","z":"f7322e79.2b9fa8","name":"","label":"Ph Setpoint","tooltip":"","group":"405bcdaa.eca56c","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"6.8","max":"7.8","step":"0.1","x":2370,"y":460,"wires":[["afa4cbed.a565b8"]]},{"id":"ada7889d.258b4","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"","group":"405bcdaa.eca56c","order":3,"width":0,"height":0,"gtype":"gage","title":"Actual pH","label":"","format":"{{value | number:1}}","min":"6.8","max":"7.8","colors":["#c6162a","#3d9533","#c6162a"],"seg1":"7.1","seg2":"7.5","x":1970,"y":1260,"wires":[]},{"id":"ffdee6be.4b4058","type":"function","z":"f7322e79.2b9fa8","name":"Slider input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"OrpSetPoint\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":500,"wires":[["35a9a235.c0a546"]]},{"id":"6eb0c1f.139f04","type":"ui_slider","z":"f7322e79.2b9fa8","name":"","label":"Chl Setpoint","tooltip":"","group":"405bcdaa.eca56c","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"700","max":"800","step":"10","x":2370,"y":500,"wires":[["ffdee6be.4b4058"]]},{"id":"64ffece4.243a1c","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"","group":"405bcdaa.eca56c","order":5,"width":0,"height":0,"gtype":"gage","title":"Actual Chl","label":"mV","format":"{{value | number:0 }}","min":"600","max":"800","colors":["#ff8040","#3d9533","#ff8040"],"seg1":"630","seg2":"770","x":1970,"y":1300,"wires":[]},{"id":"2ec53184.6478e6","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Auto Mode","tooltip":"In Auto, filtration starts/stops at set times of the day ","group":"79a3101b.272f5","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"Mode\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"Mode\":0}","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":1140,"wires":[["35a9a235.c0a546"]]},{"id":"39b04d6f.a31ff2","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"PhPID","tooltip":"start/stop the Ph PID regulation loop","group":"79a3101b.272f5","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"PhPID\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"PhPID\":0}","offvalueType":"json","officon":"","offcolor":"","x":2610,"y":1020,"wires":[["35a9a235.c0a546"]]},{"id":"cbf44537.7a6eb","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"OrpPID","tooltip":"start/stop the Orp PID regulation loop","group":"79a3101b.272f5","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"OrpPID\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"OrpPID\":0}","offvalueType":"json","officon":"","offcolor":"","x":2620,"y":1080,"wires":[["35a9a235.c0a546"]]},{"id":"eb5d8460.5fbcc","type":"function","z":"f7322e79.2b9fa8","name":"Slider input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"WSetPoint\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":540,"wires":[["35a9a235.c0a546"]]},{"id":"c1cab0a3.18718","type":"ui_slider","z":"f7322e79.2b9fa8","d":true,"name":"","label":"Water Temp. Setpoint","tooltip":"set the water temperature setpoint","group":"405bcdaa.eca56c","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"15","max":"30","step":"0.5","x":2400,"y":540,"wires":[["eb5d8460.5fbcc"]]},{"id":"28acda1a.4ee34e","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"","group":"405bcdaa.eca56c","order":7,"width":3,"height":3,"gtype":"gage","title":"Actual Water Temp.","label":"°C","format":"{{value | number:1}}","min":"8","max":"30","colors":["#000080","#3d9533","#c6162a"],"seg1":"18","seg2":"24","x":2000,"y":1220,"wires":[]},{"id":"b2bfa370.1895c8","type":"ui_dropdown","z":"f7322e79.2b9fa8","name":"","label":"Filtration Start Min","tooltip":"set the earliest hour to run filtration pump","place":"Select option","group":"5e756a4f.87a594","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"6","value":6,"type":"num"},{"label":"7","value":7,"type":"num"},{"label":"8","value":8,"type":"num"},{"label":"9","value":9,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"11","value":11,"type":"num"},{"label":"12","value":12,"type":"num"},{"label":"13","value":13,"type":"num"},{"label":"14","value":14,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"16","value":16,"type":"num"},{"label":"17","value":17,"type":"num"},{"label":"18","value":18,"type":"num"},{"label":"19","value":19,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"21","value":21,"type":"num"},{"label":"22","value":22,"type":"num"},{"label":"23","value":23,"type":"num"},{"label":"24","value":24,"type":"num"}],"payload":"","topic":"Home/Pool/API","x":2390,"y":20,"wires":[["9237f5e7.3dd1e8"]]},{"id":"fb022a9e.5b77a8","type":"ui_dropdown","z":"f7322e79.2b9fa8","name":"","label":"Filtration End  Max","tooltip":"set the latest hour to run filtration pump","place":"Select option","group":"5e756a4f.87a594","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"6","value":6,"type":"num"},{"label":"7","value":7,"type":"num"},{"label":"8","value":8,"type":"num"},{"label":"9","value":9,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"11","value":11,"type":"num"},{"label":"12","value":12,"type":"num"},{"label":"13","value":13,"type":"num"},{"label":"14","value":14,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"16","value":16,"type":"num"},{"label":"17","value":17,"type":"num"},{"label":"18","value":18,"type":"num"},{"label":"19","value":19,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"21","value":21,"type":"num"},{"label":"22","value":22,"type":"num"},{"label":"23","value":23,"type":"num"},{"label":"24","value":24,"type":"num"}],"payload":"","topic":"Home/Pool/API","x":2390,"y":60,"wires":[["4b2cb0e7.081148"]]},{"id":"9237f5e7.3dd1e8","type":"function","z":"f7322e79.2b9fa8","name":"Dropdown input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"FiltT0\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":20,"wires":[["35a9a235.c0a546"]]},{"id":"4b2cb0e7.081148","type":"function","z":"f7322e79.2b9fa8","name":"Dropdown input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"FiltT1\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":60,"wires":[["35a9a235.c0a546"]]},{"id":"e998e34e.346ef8","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"PubPeriod\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":100,"wires":[["35a9a235.c0a546"]]},{"id":"e6ff934.9f34bf","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"Max Uptime pH/Chl","tooltip":"set the Max Uptime (in secs) for the Ph and Chl pumps over a 24h period. If over, PID regulation is stopped and a warning flag is raised","group":"e350f2b0.29ae98","order":1,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"10","max":"30","step":"5","x":2400,"y":180,"wires":[["80efc954.7e43b8"]]},{"id":"80efc954.7e43b8","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"PumpsMaxUp\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":180,"wires":[["35a9a235.c0a546"]]},{"id":"cad88a20.e8ada","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"Delay PID","tooltip":"Delay (in mins) after FiltT0 before the PID regulation loops will start. This is to let the Orp and pH readings stabilize first. Should not be > 59mins","group":"e350f2b0.29ae98","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"0","max":"120","step":"5","x":2370,"y":140,"wires":[["ff5ca750.50d468"]]},{"id":"ff5ca750.50d468","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"DelayPID\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":140,"wires":[["35a9a235.c0a546"]]},{"id":"22f7c997.7973a6","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"PSI High","tooltip":"Set the water high-pressure threshold (1.0bar in this example). When water pressure is over that threshold, an error flag is set.","group":"e350f2b0.29ae98","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"1","max":"10","step":"1","x":2360,"y":220,"wires":[["bc5897f9.b06bb"]]},{"id":"bc5897f9.b06bb","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"0\")\n    msg.payload = {\"PSIHigh\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":220,"wires":[["35a9a235.c0a546"]]},{"id":"6036209f.997158","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"pH Tank ","group":"e350f2b0.29ae98","order":6,"width":0,"height":0,"options":[{"label":"Volume in L (0-25)","value":"Volume_pH","type":"number","required":true,"rows":null},{"label":"Fill in % (0-100)","value":"Fill_pH","type":"number","required":true,"rows":null}],"formValue":{"Volume_pH":"","Fill_pH":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2360,"y":660,"wires":[["3a191665.21f47a"]]},{"id":"a9d0e334.38b95","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"Chl Tank ","group":"e350f2b0.29ae98","order":7,"width":0,"height":0,"options":[{"label":"Volume in L (0-25)","value":"Volume_Chl","type":"number","required":true,"rows":null},{"label":"Fill in % (0-100)","value":"Fill_Chl","type":"number","required":true,"rows":null}],"formValue":{"Volume_Chl":"","Fill_Chl":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2360,"y":700,"wires":[["2972318b.39e486"]]},{"id":"3a191665.21f47a","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(msg.payload != { \"Volume_pH\": 0, \"Fill_pH\": 0 })\n    msg.payload = {\"pHTank\":[msg.payload.Volume_pH,msg.payload.Fill_pH]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2670,"y":660,"wires":[["35a9a235.c0a546"]]},{"id":"2972318b.39e486","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(msg.payload != { \"Volume_Chl\": 0, \"Fill_Chl\": 0 })\n    msg.payload = {\"ChlTank\":[msg.payload.Volume_Chl,msg.payload.Fill_Chl]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2670,"y":700,"wires":[["35a9a235.c0a546"]]},{"id":"c056669d.3baa58","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"79a3101b.272f5","order":17,"width":3,"height":1,"passthru":false,"label":"Clear Error","tooltip":"reset the pH and Orp pumps overtime error flags in order to let the regulation loops continue. \"Mode\", \"PhPID\" and \"OrpPID\" commands need to be switched back On after an error flag was raised","color":"","bgcolor":"#FF9540","icon":"","payload":"{\"Clear\":1}","payloadType":"json","topic":"","x":2630,"y":1500,"wires":[["35a9a235.c0a546"]]},{"id":"514ab82f.5daf28","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"WTemp Low","tooltip":"set the water low-temperature threshold below which there is no need to regulate Orp and Ph (ie. in winter)","group":"e350f2b0.29ae98","order":4,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"-5","max":"15","step":"0,5","x":2370,"y":260,"wires":[["4268703e.d8dca"]]},{"id":"4268703e.d8dca","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"20\")\n    msg.payload = {\"WTempLow\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":260,"wires":[["35a9a235.c0a546"]]},{"id":"86ea2a1e.ce97e","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"OutsideTemp","tooltip":"Provide the external temperature. Should be updated regularly and will be used to start filtration when outside air temperature is <-2.0deg.","group":"5e756a4f.87a594","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"-5","max":"35","step":"0.5","x":2380,"y":300,"wires":[["570e4ce9.14c5c4"]]},{"id":"570e4ce9.14c5c4","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"50\")\n    msg.payload = {\"TempExt\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":300,"wires":[["35a9a235.c0a546"]]},{"id":"b57acacc.84dfc8","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"pH Calibration","group":"b5907fea.82f978","order":2,"width":0,"height":0,"options":[{"label":"Display Value 1","value":"DV1","type":"number","required":true,"rows":null},{"label":"Buffer Value 1","value":"BV1","type":"number","required":true,"rows":null},{"label":"Display Value 2","value":"DV2","type":"number","required":true,"rows":null},{"label":"Buffer Value 2","value":"BV2","type":"number","required":true,"rows":null},{"label":"Display Value 3","value":"DV3","type":"number","required":false,"rows":null},{"label":"Buffer Value 3","value":"BV3","type":"number","required":false,"rows":null},{"label":"Display Value 4","value":"DV4","type":"number","required":false,"rows":null},{"label":"Buffer Value 4","value":"BV4","type":"number","required":false,"rows":null},{"label":"Display Value 5","value":"DV5","type":"number","required":false,"rows":null},{"label":"Buffer Value 5","value":"BV5","type":"number","required":false,"rows":null},{"label":"Display Value 6","value":"DV6","type":"number","required":false,"rows":null},{"label":"Buffer Value 6","value":"BV6","type":"number","required":false,"rows":null}],"formValue":{"DV1":"","BV1":"","DV2":"","BV2":"","DV3":"","BV3":"","DV4":"","BV4":"","DV5":"","BV5":"","DV6":"","BV6":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2380,"y":340,"wires":[["7206d480.a93824"]]},{"id":"7206d480.a93824","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n","outputs":1,"noerr":0,"x":2670,"y":340,"wires":[["35a9a235.c0a546"]]},{"id":"55d0bd7f.19ba7c","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"Chl Calibration","group":"4a105614.2e8b","order":2,"width":0,"height":0,"options":[{"label":"Display Value 1","value":"DV1","type":"number","required":true,"rows":null},{"label":"Buffer Value 1","value":"BV1","type":"number","required":true,"rows":null},{"label":"Display Value 2","value":"DV2","type":"number","required":true,"rows":null},{"label":"Buffer Value 2","value":"BV2","type":"number","required":true,"rows":null},{"label":"Display Value 3","value":"DV3","type":"number","required":false,"rows":null},{"label":"Buffer Value 3","value":"BV3","type":"number","required":false,"rows":null},{"label":"Display Value 4","value":"DV4","type":"number","required":false,"rows":null},{"label":"Buffer Value 4","value":"BV4","type":"number","required":false,"rows":null},{"label":"Display Value 5","value":"DV5","type":"number","required":false,"rows":null},{"label":"Buffer Value 5","value":"BV5","type":"number","required":false,"rows":null},{"label":"Display Value 6","value":"DV6","type":"number","required":false,"rows":null},{"label":"Buffer Value 6","value":"BV6","type":"number","required":false,"rows":null}],"formValue":{"DV1":"","BV1":"","DV2":"","BV2":"","DV3":"","BV3":"","DV4":"","BV4":"","DV5":"","BV5":"","DV6":"","BV6":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2380,"y":380,"wires":[["a6142f40.f4659"]]},{"id":"a6142f40.f4659","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n","outputs":1,"noerr":0,"x":2670,"y":380,"wires":[["35a9a235.c0a546"]]},{"id":"10da724c.9c80ee","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"PSI Calibration","group":"f8e2fde6.b8a638","order":2,"width":0,"height":0,"options":[{"label":"Display Value 1","value":"DV1","type":"number","required":true,"rows":null},{"label":"Measured Value 1","value":"BV1","type":"number","required":true,"rows":null},{"label":"Display Value 2","value":"DV2","type":"number","required":true,"rows":null},{"label":"Measured Value 2","value":"BV2","type":"number","required":true,"rows":null},{"label":"Display Value 3","value":"DV3","type":"number","required":false,"rows":null},{"label":"Measured Value 3","value":"BV3","type":"number","required":false,"rows":null},{"label":"Display Value 4","value":"DV4","type":"number","required":false,"rows":null},{"label":"Measured Value 4","value":"BV4","type":"number","required":false,"rows":null},{"label":"Display Value 5","value":"DV5","type":"number","required":false,"rows":null},{"label":"Measured Value 5","value":"BV5","type":"number","required":false,"rows":null},{"label":"Display Value 6","value":"DV6","type":"number","required":false,"rows":null},{"label":"Measured Value 6","value":"BV6","type":"number","required":false,"rows":null}],"formValue":{"DV1":"","BV1":"","DV2":"","BV2":"","DV3":"","BV3":"","DV4":"","BV4":"","DV5":"","BV5":"","DV6":"","BV6":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2380,"y":420,"wires":[["c95b425b.70d69"]]},{"id":"c95b425b.70d69","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n","outputs":1,"noerr":0,"x":2670,"y":420,"wires":[["35a9a235.c0a546"]]},{"id":"a080ea5f.3b765","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"pH PID","group":"5e756a4f.87a594","order":5,"width":0,"height":0,"options":[{"label":"Kp","value":"KP","type":"number","required":true,"rows":null},{"label":"Ki","value":"KI","type":"number","required":true,"rows":null},{"label":"Kd","value":"KD","type":"number","required":true,"rows":null}],"formValue":{"KP":"","KI":"","KD":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2360,"y":580,"wires":[["e937257e.ed41c"]]},{"id":"e937257e.ed41c","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(msg.payload != { KP: 0, KI: 0, KD:0 })\n    msg.payload = {\"PhPIDParams\":[msg.payload.KP,msg.payload.KI,msg.payload.KD]};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":580,"wires":[["35a9a235.c0a546"]]},{"id":"283824e1.82c324","type":"ui_form","z":"f7322e79.2b9fa8","name":"","label":"Orp PID","group":"5e756a4f.87a594","order":6,"width":0,"height":0,"options":[{"label":"Kp","value":"KP","type":"number","required":true,"rows":null},{"label":"Ki","value":"KI","type":"number","required":true,"rows":null},{"label":"Kd","value":"KD","type":"number","required":true,"rows":null}],"formValue":{"KP":"","KI":"","KD":""},"payload":"","submit":"update","cancel":"cancel","topic":"","x":2360,"y":620,"wires":[["f1b3c19a.b54c2"]]},{"id":"f1b3c19a.b54c2","type":"function","z":"f7322e79.2b9fa8","name":"FormInput input to JSON","func":"if(msg.payload != { KP: 0, KI: 0, KD:0 })\n    msg.payload = {\"OrpPIDParams\":[msg.payload.KP,msg.payload.KI,msg.payload.KD]};\nreturn msg;","outputs":1,"noerr":0,"x":2670,"y":620,"wires":[["35a9a235.c0a546"]]},{"id":"3813f1f1.53654e","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"MQTT Publish Interval (s)","tooltip":"set the periodicity (in seconds) at which the system info (pumps states, tank levels states, measured values, etc) will be published to the MQTT broker","group":"e350f2b0.29ae98","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Hope/Pool/API","format":"{{value}}","min":"10","max":"600","step":"10","x":2410,"y":100,"wires":[["e998e34e.346ef8"]]},{"id":"d744ca5f.f2855","type":"function","z":"f7322e79.2b9fa8","name":"Split Meas1 Message","func":"if(msg.topic == \"Home/Pool6/Meas1\")\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n    var msg7={};\n \n    msg0.payload = msg.payload.TE/100.0; //External temperature\n    msg0.topic   = \"TE\";\n    msg1.payload = msg.payload.Tmp/100.0;//W temp\n    msg1.topic   = \"Tmp\";\n    msg2.payload = msg.payload.pH/100.0;//pH\n    msg2.topic   = \"pH\";\n    msg3.payload = msg.payload.PSI/100.0;//PSI\n    msg3.topic   = \"PSI\";\n    msg4.payload = msg.payload.Orp;//Orp\n    msg4.topic   = \"Orp\";\n    msg5.payload = msg.payload.FilUpT/60.0;//Filtration Uptime\n    msg6.payload = msg.payload.PhUpT/60.0;//pH Uptime\n    msg7.payload = msg.payload.ChlUpT/60.0;//Chl Uptime\n  \n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7];\n}","outputs":8,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1220,"wires":[["843dd279.87ce1","e896c5dd.205f5"],["843dd279.87ce1","a1c778a9.eee93"],["843dd279.87ce1","ac2be78f.91b9b8"],["843dd279.87ce1"],["843dd279.87ce1","11200e7e.d2cd8a"],[],["5574554e.95979c"],["81848954.064178"]]},{"id":"96da44df.cd2f9","type":"function","z":"f7322e79.2b9fa8","name":"Split IO mask","func":"var mask = msg.payload;\n\nvar msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\n\nmsg0.payload = {\"FiltPump\":(mask >> 7) & 1};\nmsg1.payload = {\"PhPump\":(mask >> 6) & 1};\nmsg2.payload = {\"ChlPump\":(mask >> 5) & 1};\nmsg3.payload = (mask >> 4) & 1;\nmsg4.payload = (mask >> 3) & 1;\nmsg5.payload = (mask >> 2) & 1;\nmsg6.payload = (mask >> 1) & 1;\nmsg7.payload = (mask >> 0) & 1;\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":2180,"y":920,"wires":[["3bab82e3.c52656"],["e0cb9ca4.4f0b5"],["39a2392c.9aab76"],[],[],[],["8ab0102e.81e2b8"],["a83a2ac6.5c6e2"]]},{"id":"ef9a0384.befe","type":"function","z":"f7322e79.2b9fa8","name":"Split IO2 mask","func":"var mask = msg.payload;\n\nvar msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\n\n\nmsg0.payload = {\"PhPID\":(mask >> 7) & 1};\nmsg1.payload = {\"OrpPID\":(mask >> 6) & 1};\nmsg2.payload = {\"Mode\":(mask >> 5) & 1};\nmsg3.payload = {\"RobotPump\":(mask >> 4) & 1};\nmsg4.payload = {\"Relay\":[0,(mask >> 3) & 1]};\nmsg5.payload = {\"Relay\":[1,(mask >> 2) & 1]};\nmsg6.payload = {\"Winter\":(mask >> 1) & 1};\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5,msg6];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":2180,"y":1060,"wires":[["39b04d6f.a31ff2"],["cbf44537.7a6eb"],["2ec53184.6478e6"],["986f9b6e.07c4b8"],["bfa0513.c5dfc3"],["2a5c6bb0.b75d64"],["8d36f67e.7608e8"]]},{"id":"c997fdd0.476e28","type":"function","z":"f7322e79.2b9fa8","name":"Split Set1 Message","func":"if(msg.topic == \"Home/Pool6/Set1\")\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n    var msg7={};\n    var msg8={};\n\n\n    msg0.payload = msg.payload.FW;     //FW version\n    msg1.payload = msg.payload.FSta;   //Filtration start hour, in the morning (hours)\n    msg2.payload = msg.payload.FStaM;  //Earliest filtration start hour   \n    msg3.payload = msg.payload.FDu;    //Computed filtration duration based on water temperature (hours)\n    msg4.payload = msg.payload.FStoM;  //Latest hour for the filtration to run. Whatever happens, filtration won't run later than this hour (hour)\n    msg5.payload = msg.payload.FSto;   //Computed filtration stop hour, equal to FSta + FDu (hour)\n    msg6.payload = msg.payload.pHUTL;  //Max allowed daily run time for the pH pump (/!\\ mins)\n    msg7.payload = msg.payload.ChlUTL; //Max allowed daily run time for the Chl pump (/!\\ mins)\n    msg8.payload = msg.payload.FSta + msg.payload.FDu;\n\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8];\n}","outputs":9,"noerr":0,"initialize":"","finalize":"","x":1340,"y":500,"wires":[["2b8fc10f.df0dee"],["90bc38f3.9f4878"],["b2bfa370.1895c8"],[],["fb022a9e.5b77a8"],[],[],["e6ff934.9f34bf"],["5432ff43.9752b"]]},{"id":"986f9b6e.07c4b8","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Robot Pump","tooltip":"start/stop the regulation of the pool water temperature ","group":"79a3101b.272f5","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"RobotPump\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"RobotPump\":0}","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":1200,"wires":[["35a9a235.c0a546"]]},{"id":"17e7227c.2119ce","type":"delay","z":"f7322e79.2b9fa8","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":500,"wires":[["d744ca5f.f2855","b7f7ec23.f9687","c997fdd0.476e28","d4726cb8.d7361","d7b4ef1.442b49","93356c3e.d57e1","fe023235.24c16"]]},{"id":"b7f7ec23.f9687","type":"function","z":"f7322e79.2b9fa8","name":"Split Meas2 Message","func":"if(msg.topic == \"Home/Pool6/Meas2\"){\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n\n    msg0.payload = msg.payload.AcidF;\n    msg0.topic = \"Fill_pH\";\n    \n    msg1.payload = msg.payload.ChlF;\n    msg1.topic = \"Fill_Chl\";\n\n    msg2.payload = msg.payload.IO;//IO\n    msg2.topic   = \"IO\";\n    msg3.payload = msg.payload.IO2;//IO2; \n    msg3.topic   = \"IO2\";\n    msg4.payload = msg.payload.AcidF;//pH Tank Fill\n    msg5.payload = msg.payload.ChlF; //Chl Tank Fill\n\n    return [msg0,msg1,msg2,msg3,msg4,msg5];\n}    ","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1100,"wires":[["95f0274b.d39c4","843dd279.87ce1"],["2deb24b7.2ca964","843dd279.87ce1"],["96da44df.cd2f9","843dd279.87ce1"],["ef9a0384.befe","843dd279.87ce1"],["988fa811.1598c8"],["467308a5.fa4248"]]},{"id":"d4726cb8.d7361","type":"function","z":"f7322e79.2b9fa8","name":"Split Set2 Message","func":"if(msg.topic == \"Home/Pool6/Set2\")\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n    var msg7={};\n   \n    msg0.payload = msg.payload.pHWS; //pH PID window size (/!\\ mins)\n    msg1.payload = msg.payload.ChlWS; //Orp PID window size (/!\\ mins)\n    msg2.payload = msg.payload.pHSP/100; //pH setpoint (/!\\ x100)\n    msg3.payload = msg.payload.OrpSP; //Orp setpoint (/!\\ x100)\n    msg4.payload = msg.payload.WSP/100; //Water temperature setpoint (/!\\ x100)\n    msg5.payload = msg.payload.WLT/100; //Water temperature low threshold to activate anti-freeze mode (/!\\ x100)\n    msg6.payload = msg.payload.PSIHT/100; //Water pressure high threshold to trigger error (/!\\ x100)\n    msg7.payload = msg.payload.PSIMT/100; //Water pressure medium threshold (unused yet) (/!\\ x100)\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7];\n}","outputs":8,"noerr":0,"initialize":"","finalize":"","x":1340,"y":640,"wires":[[],[],["27e23112.ddcd7e"],["6eb0c1f.139f04"],["c1cab0a3.18718"],["514ab82f.5daf28"],["22f7c997.7973a6"],[]]},{"id":"d7b4ef1.442b49","type":"function","z":"f7322e79.2b9fa8","name":"Split Set3 Message","func":"if(msg.topic == \"Home/Pool6/Set3\")\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n\n   \n    msg0.payload = msg.payload.pHC0;    //pH sensor calibration coefficient C0\n    msg1.payload = msg.payload.pHC1;    //pH sensor calibration coefficient C1\n    msg2.payload = msg.payload.OrpC0;   //Orp sensor calibration coefficient C0\n    msg3.payload = msg.payload.OrpC1;   //Orp sensor calibration coefficient C1\n    msg4.payload = msg.payload.PSIC0;   //Pressure sensor calibration coefficient C0\n    msg5.payload = msg.payload.PSIC1;   //Pressure sensor calibration coefficient C1\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6];\n}","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1340,"y":760,"wires":[[],[],[],[],[],[]]},{"id":"93356c3e.d57e1","type":"function","z":"f7322e79.2b9fa8","name":"Split Set4 Message","func":"if(msg.topic == \"Home/Pool6/Set4\")\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n\n    msg0.payload = {\"KP\":msg.payload.pHKp,\"KI\":msg.payload.pHKi,\"KD\":msg.payload.pHKd};    //pH  PID coefficients Kp,Ki,Kd\n    msg1.payload = {\"KP\":msg.payload.OrpKp,\"KI\":msg.payload.OrpKi,\"KD\":msg.payload.OrpKd}; //Chl PID coefficients Kp,Ki,Kd\n    msg2.payload = msg.payload.Dpid;   //Delay from FSta for the water regulation/PIDs to start (mins) \n    msg3.payload = msg.payload.PubP;   // Settings publish period in sec\n    return [msg0,msg1,msg2,msg3];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1340,"y":840,"wires":[["a080ea5f.3b765"],["283824e1.82c324"],["cad88a20.e8ada"],["3813f1f1.53654e"]]},{"id":"fe023235.24c16","type":"function","z":"f7322e79.2b9fa8","name":"Split Set5 Message","func":"if(msg.topic == \"Home/Pool6/Set5\"){\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    \n    msg0.payload = msg.payload.pHTV;  //pH tank nominal volume (Liters)\n    msg0.topic = \"Volume_pH\";\n    msg1.payload = msg.payload.ChlTV; //Chl tank nominal volume (Liters)\n    msg1.topic = \"Volume_Chl\";\n    \n    msg2.payload = msg.payload.pHFR; //pH pump flow rate (L/hour)\n    msg3.payload = msg.payload.OrpFR; //Chl pump flow rate (L/hour)\n    \n    return [msg0,msg1,msg2,msg3];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1340,"y":900,"wires":[["95f0274b.d39c4"],["2deb24b7.2ca964"],["578a2782.931748"],["c5afb990.a4a94"]]},{"id":"4b4a9967.6dcc78","type":"mqtt in","z":"f7322e79.2b9fa8","name":"All JSON from Poolmaster","topic":"Home/Pool6/#","qos":"1","datatype":"json","broker":"93a591a0.fbf418","x":830,"y":500,"wires":[["17e7227c.2119ce","678a729e.118494","1c62420f.9cf36e"]]},{"id":"2a5c6bb0.b75d64","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Relay R6","tooltip":"This will manually turn Relay1 ON or OFF","group":"79a3101b.272f5","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool6/API","style":"","onvalue":"{\"Relay\":[1,1]} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"Relay\":[1,0]} ","offvalueType":"json","officon":"","offcolor":"","x":2620,"y":1320,"wires":[["35a9a235.c0a546"]]},{"id":"988fa811.1598c8","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"pH Tank level","group":"79a3101b.272f5","order":11,"width":3,"height":3,"gtype":"donut","title":"ph Tank","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#c6162a","#ff8040","#3d9533"],"seg1":"10","seg2":"20","x":1980,"y":1100,"wires":[]},{"id":"467308a5.fa4248","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"Chl Tank level","group":"79a3101b.272f5","order":12,"width":3,"height":3,"gtype":"donut","title":"Chl Tank","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#c6162a","#ff8040","#3d9533"],"seg1":"10","seg2":"20","x":1980,"y":1140,"wires":[]},{"id":"b5cf5c26.966608","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"79a3101b.272f5","order":18,"width":3,"height":1,"passthru":false,"label":"Restart","tooltip":"reboot the controller (after 8 seconds from calling this command)","color":"","bgcolor":"#C6162A","icon":"","payload":"{\"Reboot\":1} ","payloadType":"json","topic":"","x":2620,"y":1440,"wires":[["35a9a235.c0a546"]]},{"id":"8ab0102e.81e2b8","type":"ui_text","z":"f7322e79.2b9fa8","group":"79a3101b.272f5","order":13,"width":3,"height":1,"name":"pH Error","label":"pH Error:  ","format":"{{msg.payload}}","layout":"row-center","x":2360,"y":940,"wires":[]},{"id":"a83a2ac6.5c6e2","type":"ui_text","z":"f7322e79.2b9fa8","group":"79a3101b.272f5","order":14,"width":3,"height":1,"name":"Chl Error","label":"Chl Error:  ","format":"{{msg.payload}}","layout":"row-center","x":2360,"y":980,"wires":[]},{"id":"35a9a235.c0a546","type":"mqtt out","z":"f7322e79.2b9fa8","name":"MQTT Broker","topic":"Home/Pool6/API","qos":"1","retain":"","broker":"93a591a0.fbf418","x":3562,"y":178,"wires":[]},{"id":"b3beae23.e9206","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"b5907fea.82f978","order":32,"width":"6","height":"1","passthru":false,"label":"Reset pH Calibration","tooltip":"reset the calibration coefficients of the pH probe","color":"","bgcolor":"#FF9540","icon":"","payload":" {\"RstpHCal\":1}","payloadType":"json","topic":"","x":3220,"y":980,"wires":[["35a9a235.c0a546"]]},{"id":"8784a8e5.b20da8","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"4a105614.2e8b","order":32,"width":"6","height":"1","passthru":false,"label":"Reset Chl Calibration","tooltip":"reset the calibration coefficients of the Orp probe","color":"","bgcolor":"#FF9540","icon":"","payload":"{\"RstOrpCal\":1} ","payloadType":"json","topic":"","x":3220,"y":1020,"wires":[["35a9a235.c0a546"]]},{"id":"c721ee61.55ae58","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"f8e2fde6.b8a638","order":32,"width":"6","height":"1","passthru":false,"label":"Reset PSI Calibration","tooltip":"reset the calibration coefficients of the pressure sensor","color":"","bgcolor":"#FF9540","icon":"","payload":" {\"RstPSICal\":1} ","payloadType":"json","topic":"","x":3220,"y":1060,"wires":[["35a9a235.c0a546"]]},{"id":"578a2782.931748","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"ph Pump (L/h)","tooltip":"set pH pump flow rate un L/h","group":"5e756a4f.87a594","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"0.5","max":"10","step":"0.5","x":2380,"y":740,"wires":[["336658d9.cca7f"]]},{"id":"c5afb990.a4a94","type":"ui_numeric","z":"f7322e79.2b9fa8","name":"","label":"Chl Pump (L/h)","tooltip":"set Chl pump flow rate un L/h","group":"5e756a4f.87a594","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"Home/Pool/API","format":"{{value}}","min":"0.5","max":"10","step":"0.5","x":2380,"y":780,"wires":[["a8584fc7.e339c8"]]},{"id":"336658d9.cca7f","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"50\")\n    msg.payload = {\"pHPumpFR\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2670,"y":740,"wires":[["35a9a235.c0a546"]]},{"id":"a8584fc7.e339c8","type":"function","z":"f7322e79.2b9fa8","name":"NumInput input to JSON","func":"if(msg.payload != \"50\")\n    msg.payload = {\"ChlPumpFR\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2670,"y":780,"wires":[["35a9a235.c0a546"]]},{"id":"678a729e.118494","type":"debug","z":"f7322e79.2b9fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":580,"wires":[]},{"id":"ac2be78f.91b9b8","type":"change","z":"f7322e79.2b9fa8","name":"Change font sizes","rules":[{"t":"set","p":"ui_control.options.valueMinFontSize","pt":"msg","to":"36","tot":"num"},{"t":"set","p":"ui_control.options.maxLabelMinFontSize","pt":"msg","to":"18","tot":"str"},{"t":"set","p":"ui_control.options.minLabelMinFontSize","pt":"msg","to":"18","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1260,"wires":[["ada7889d.258b4"]]},{"id":"11200e7e.d2cd8a","type":"change","z":"f7322e79.2b9fa8","name":"Change font sizes","rules":[{"t":"set","p":"ui_control.options.valueMinFontSize","pt":"msg","to":"36","tot":"num"},{"t":"set","p":"ui_control.options.maxLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.minLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.labelMinFontSize","pt":"msg","to":"24","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1300,"wires":[["64ffece4.243a1c"]]},{"id":"a1c778a9.eee93","type":"change","z":"f7322e79.2b9fa8","name":"Change font sizes","rules":[{"t":"set","p":"ui_control.options.valueMinFontSize","pt":"msg","to":"24","tot":"num"},{"t":"set","p":"ui_control.options.maxLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.minLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.labelMinFontSize","pt":"msg","to":"18","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1220,"wires":[["28acda1a.4ee34e"]]},{"id":"d5dbecca.fee3b","type":"inject","z":"f7322e79.2b9fa8","name":"Mise à l'heure","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Date\":[11,5,12,20,12,49,0]}","payloadType":"json","x":3190,"y":860,"wires":[["35a9a235.c0a546"]]},{"id":"95f0274b.d39c4","type":"join","z":"f7322e79.2b9fa8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2230,"y":660,"wires":[["6036209f.997158"]]},{"id":"2deb24b7.2ca964","type":"join","z":"f7322e79.2b9fa8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2230,"y":700,"wires":[["a9d0e334.38b95"]]},{"id":"5574554e.95979c","type":"ui_text","z":"f7322e79.2b9fa8","group":"79a3101b.272f5","order":15,"width":3,"height":1,"name":"","label":"pH+ UpT:  ","format":"{{value | number:1}}","layout":"row-center","x":1960,"y":1340,"wires":[]},{"id":"81848954.064178","type":"ui_text","z":"f7322e79.2b9fa8","group":"79a3101b.272f5","order":16,"width":3,"height":1,"name":"","label":"Chl UpT:  ","format":"{{value | number:1}}","layout":"row-center","x":1960,"y":1380,"wires":[]},{"id":"843dd279.87ce1","type":"join","z":"f7322e79.2b9fa8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1770,"y":1560,"wires":[["6e7f3bd8.cfa794"]]},{"id":"6e7f3bd8.cfa794","type":"function","z":"f7322e79.2b9fa8","name":"Format to influxDB","func":"var mask  = msg.payload.IO;\nvar mask2 = msg.payload.IO2;\nmsg.payload = {\n    FiltPump:(mask >> 7) &1,\n    pHPump:(mask >> 6) & 1,\n    ChlPump:(mask >> 5) & 1,\n    RobotPump:(mask2 >> 4) & 1,\n    pH:msg.payload.pH,\n    Orp:msg.payload.Orp,\n    Tmp:msg.payload.Tmp,\n    Fill_pH:msg.payload.Fill_pH,\n    Fill_Chl:msg.payload.Fill_Chl,\n    AT:msg.payload.TE,\n    WP:msg.payload.PSI\n}\nmsg.measurement = \"PoolMaster\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":1560,"wires":[["2a7ebc8e.3bd2e4","c8053c1a.d5a0a"]]},{"id":"2a7ebc8e.3bd2e4","type":"debug","z":"f7322e79.2b9fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2210,"y":1620,"wires":[]},{"id":"c8053c1a.d5a0a","type":"influxdb out","z":"f7322e79.2b9fa8","d":true,"influxdb":"c8c05be2.4c04a8","name":"influxDB","measurement":"PoolMaster6","precision":"","retentionPolicy":"","x":2200,"y":1560,"wires":[]},{"id":"e896c5dd.205f5","type":"change","z":"f7322e79.2b9fa8","name":"Change font sizes","rules":[{"t":"set","p":"ui_control.options.valueMinFontSize","pt":"msg","to":"24","tot":"num"},{"t":"set","p":"ui_control.options.maxLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.minLabelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.labelMinFontSize","pt":"msg","to":"18","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1180,"wires":[["15a8254f.c7731b"]]},{"id":"15a8254f.c7731b","type":"ui_gauge","z":"f7322e79.2b9fa8","name":"","group":"405bcdaa.eca56c","order":8,"width":3,"height":3,"gtype":"gage","title":"Actual AirTemp.","label":"°C","format":"{{value | number:1}}","min":"-5","max":"40","colors":["#000080","#3d9533","#c6162a"],"seg1":"15","seg2":"25","x":1980,"y":1180,"wires":[]},{"id":"1c62420f.9cf36e","type":"function","z":"f7322e79.2b9fa8","name":"Get Time","func":"function addZero(i) {\n  if (i < 10) {\n    i = \"0\" + i;\n  }\n  return i;\n}\n\nvar d = new Date();\nvar h = addZero(d.getHours());\nvar m = addZero(d.getMinutes());\nvar s = addZero(d.getSeconds());\nmsg.payload = h + \":\" + m + \":\" +s;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1420,"wires":[["b0101dc8.a0f7e"]]},{"id":"b0101dc8.a0f7e","type":"ui_text","z":"f7322e79.2b9fa8","group":"405bcdaa.eca56c","order":10,"width":6,"height":"1","name":"Heure locale","label":"","format":"<font size=6>{{msg.payload}}","layout":"row-center","x":1970,"y":1420,"wires":[]},{"id":"8d36f67e.7608e8","type":"ui_switch","z":"f7322e79.2b9fa8","name":"","label":"Winter Mode","tooltip":"Activate Winter Mode","group":"79a3101b.272f5","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Home/Pool/API","style":"","onvalue":"{\"Winter\":1} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"Winter\":0} ","offvalueType":"json","officon":"","offcolor":"","x":2630,"y":1380,"wires":[["35a9a235.c0a546"]]},{"id":"f2ccb104.227988","type":"ui_button","z":"f7322e79.2b9fa8","name":"","group":"e350f2b0.29ae98","order":8,"width":"6","height":"1","passthru":false,"label":"Refresh","tooltip":"Request values refresh ","color":"","bgcolor":"","icon":"","payload":"{\"Settings\":1}","payloadType":"json","topic":"","x":3180,"y":940,"wires":[["35a9a235.c0a546"]]},{"id":"2b8fc10f.df0dee","type":"ui_text","z":"f7322e79.2b9fa8","group":"405bcdaa.eca56c","order":11,"width":0,"height":0,"name":"","label":"(c) DLF - 01/03/21 Version ","format":"{{msg.payload}}","layout":"row-center","x":1940,"y":1040,"wires":[]},{"id":"90bc38f3.9f4878","type":"ui_text","z":"f7322e79.2b9fa8","group":"405bcdaa.eca56c","order":1,"width":3,"height":1,"name":"","label":"Start: ","format":"{{value | number:0}}","layout":"row-center","x":1950,"y":1460,"wires":[]},{"id":"5432ff43.9752b","type":"ui_text","z":"f7322e79.2b9fa8","group":"405bcdaa.eca56c","order":2,"width":3,"height":1,"name":"","label":"Stop : ","format":"{{value | number:0}}","layout":"row-center","x":1950,"y":1500,"wires":[]},{"id":"79a3101b.272f5","type":"ui_group","name":"Controls","tab":"f4554c3a.46b198","order":2,"disp":true,"width":"6","collapse":false},{"id":"405bcdaa.eca56c","type":"ui_group","name":"Set Points","tab":"f4554c3a.46b198","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e756a4f.87a594","type":"ui_group","name":"Tuning","tab":"c2fad92.1e3b028","order":2,"disp":true,"width":"6","collapse":false},{"id":"e350f2b0.29ae98","type":"ui_group","name":"Set Points","tab":"c2fad92.1e3b028","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5907fea.82f978","type":"ui_group","name":"pH Calibration","tab":"c2fad92.1e3b028","order":3,"disp":true,"width":"6","collapse":false},{"id":"4a105614.2e8b","type":"ui_group","name":"Chl Calibration","tab":"c2fad92.1e3b028","order":4,"disp":true,"width":"6","collapse":false},{"id":"f8e2fde6.b8a638","type":"ui_group","name":"PSI Calibration","tab":"c2fad92.1e3b028","order":5,"disp":true,"width":"6","collapse":false},{"id":"93a591a0.fbf418","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8c05be2.4c04a8","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Demo","name":"","usetls":false,"tls":""},{"id":"f4554c3a.46b198","type":"ui_tab","name":"PoolMaster6 RT","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c2fad92.1e3b028","type":"ui_tab","name":"PoolMaster6 Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false}]